.btn-fb{
    background-color: #3b5998;
    color: white;
    border-style: none;
    height: 30px;
    margin-left: 0;
    border-radius: 3px;
    padding: 0 10px;
}
.btn-fb i{
    margin-right: 12px;
}